@model PickMyBeer.Models.FaveBeer
@{
    ViewBag.Title = "MyFaves";
}
<style>
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
<div class="conatainer">
    <h2>My Favorite Beers</h2>
    <div class="text-right">
        @Html.ActionLink("Add Beer To Faves", "AddBeerToFaves") | @Html.ActionLink("Pick My Beer", "ChoosePref") | @Html.ActionLink("Back To My Beers", "MyBeers")
    </div>

    <hr />
    <div class="my_container">
        <ul>
            @foreach (var item in ViewBag.Faves)
            {
                <li class="block">
                    <a href="http://localhost:54414/Beer/Details?beerId=@item.Beer.Id">
                        <img src="@item.Beer.LabelURL" />
                        <span>@item.Beer.Name</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<br/>
<br />
<br />
@*<div class="col-lg-12">
        <div class="wrapper">
            <div class="media-list">
                @foreach (var item in ViewBag.Faves)
            {
                    <div class="media info">
                        <a href="http://localhost:54414/Home/ChooseLoc?beerId=@item.Beer.Id">
                            <img class="pull-left" src="@item.Beer.LabelURL" alt="Beer Label">
                            <div class="media-body">
                                <h4 class="media-heading">@item.Beer.Name</h4>
                                <p>
                                    @item.Beer.Brewery.Name
                                </p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>*@





