@model PickMyBeer.Models.Beer

@{
    ViewBag.Title = "View";
}

<h2>Beer Details</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <h2>
                <img class="thumbs" src="@Model.LabelURL" />
            </h2>
        </div>
        <div class="col-lg-8">
            <div class="text-center">
                <h2>
                    @Model.Name
                </h2>
            </div>
            <div class="text-center">
                <h2>
                    @Model.Style.Name
                </h2>
            </div>
            <div class="text-center">
                @Model.Brewery.Name
            </div>
            <div class="text-center">
                @Model.Brewery.City, @Model.Brewery.State
            </div>
            <div class="text-center">
                <p>Ings</p>
                @foreach (var item in Model.IngLogs)
                {
                    <p>
                        <span>@item.Ingredient.Name</span>
                    </p>
                }
            </div>
            <div class="text-center">
                <span>IBU: @Model.IBU</span>
            </div>
            <div class="text-center">
                <span>IBU: @Model.ABV</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <h4>
            @Model.Description
        </h4>
    </div>
    <div class="col-lg-4 text-center">
        @if (User.Identity.IsAuthenticated)
            {
            @Html.ActionLink("Pick My Beer Like This One", "PickMyBeer", "Home")
        }
        | @Html.ActionLink("Back to My List", "Index", "AppUser")
    </div>
</div>

</div>
