@model PickMyBeer.Models.Beer



<div class="container">
    <h1>Top Match.....</h1>
    <div class="row">
        <div class="col-lg-4 text-center">
            <h2>
                <img class="thumb" src="@Model.LabelURL" />
            </h2>
        </div>
        <div class="col-lg-8">
            <div class="text-center">
                <h2>
                    @Model.Name
                </h2>
            </div>
            <div class="text-center">
                <h2>
                    @Model.Style.Name
                </h2>
            </div>
            <div class="text-center">
                @Model.Brewery.Name
            </div>
            <div class="text-center">
                @Model.Brewery.City, @Model.Brewery.State
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <h4>
            @Model.Description
        </h4>
    </div>
    <div class="col-lg-4 text-center">
        @if (User.Identity.IsAuthenticated)
            {
            @Html.ActionLink("Add To My Favorites", "PickMyBeer", "Home")
        }
        | @Html.ActionLink("Home", "Index")
    </div>
</div>
