<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pick My Beer!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.Identity.GetUserRole() == "BarClient")
                {
                    //@Html.ActionLink("PickMyBeer", "ReviewMatches", "BarUser", new { area = "" }, new { @class = "navbar-brand" })
                    <a href='@Url.Action("ReviewMatches", "BarUser")'>
                        <img src='~/Uploads/FidoSmLogo.png' class="your-icon icon-nav navLogo" />
                    </a>
                }
                else
                {
                    //@Html.ActionLink("PickMyBeer", "ChoosePref", "AppUser", new { area = "" }, new { @class = "navbar-brand" })
                    <a href='@Url.Action("ChoosePref", "AppUser")'>
                        <img src='~/Uploads/FidoSmLogo.png' class="your-icon icon-nav navLogo" />
                    </a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.GetUserRole() == "BarClient")
                    {
                        <li>@Html.ActionLink("My Bar Profile", "Index", "BarUser")</li>
                        <li>@Html.ActionLink("Manage My Beers", "ManageBeers", "BarUser")</li>
                        <li>@Html.ActionLink("Review Matches", "ReviewMatches", "BarUser")</li>
                    }
                    else if (User.Identity.GetUserRole() == "PatronClient")
                    {
                        <li>@Html.ActionLink("Fido, Fetch!", "ChoosePref", "AppUser")</li>
                        <li>@Html.ActionLink("My Beers", "MyBeers", "AppUser")</li>
                        <li>@Html.ActionLink("Explore Bars", "BarList", "BarUser")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <span class="text-right">
                <a href="http://www.brewerydb.com">
                    <img src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png" style="width:160px;height:40px;border:0;margin-left:625%;margin-bottom:20px;">
                </a>
            </span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
